#navheader {
	background: #c2c3c2;
}

#navbar-brand {
	margin-left: 0;
}

.navbar-header .navbar-brand a {
	text-decoration: none;
	color: #000000;
}

#main-content > div.row > h1 {
	margin-bottom: 40px;
	font-size: 3.5em;
}

.costum-box {
	margin: 20px 0px 20px 0px;
	padding: 15px 15px 30px 15px;
	background: #d9d9d9;
}

#nav-list {
	text-align: center;
}

#nav-list a:hover {
	background: #E7E7E7;
	font-weight: bold;
}